<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Error</title>
    <link rel="shortcut icon" th:href="@{/images/logos/icon.ico}" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>
<body>

<div class="container-fluid">

    <div class="abs">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
                <a class="navbar-brand" th:href="${homepageUrl}">
                    <div class="home-logo"></div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                    <ul class="navbar-nav w-100 justify-content-end">
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="main">
        <div class="container page">

            <div class="container content login-content text-center">
                <div class="error-icon">
                </div>
                <h1>Page not found</h1>
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>